<header>
   <img class="logo" src="/nokiaLogo.png" alt="rss feed" />
</header>

<div class="jumbotron">
  <div class="login">
    <div class="inner">
      <center><h2>Sign up</h2></center>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          (<%= @minimum_password_length %> characters minimum)
          <% end %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %> 
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <center><div class="actions">
          <%= f.submit "Sign up" %>
        </div></center>
      <% end %>

      <center><%= render "devise/shared/links" %></center>
    </div>
  </div>
</div>      
